<h1><%= @user.email %></h1>
<p>Name: <%= @user.name %></p>
<p>Bio: <%= @user.bio %></p>
<p>Company: <%= @user.company %></p>
<p>Joined <%= @user.created_at %></p>

<%= link_to "Update your profile", edit_user_path %>