<h1><b>All Posts</b></h1>

<!--<p><%#= link_to "Create new post", new_post_path %></p>-->

<% @posts.each do |post| %>

  <h3><%= link_to post.title, post_path(post.id) %></h3>
  <p><%= post.user.email %> | <%= time_ago_in_words post.created_at %> ago</p>
  <p><%= truncate(post.content , length: 50) %></p>
  <hr>
<% end %>

<%= paginate @posts, theme: 'twitter-bootstrap-4' %>
